doctype html
html(ng-app='backstage')
    head
        meta(charset="UTF-8")
        base(href="/backstage")
        meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
        title forTuneTelling with Laravel\angular\webpack\webpack-dev-server
        link(type='text/css',rel='stylesheet',href="{{asset('css/app.css')}}")
    body(ng-controller="BackstageController")
        div(ui-view,class="app",id="app",ng-class="{'app-header-fixed':app.settings.headerFixed, 'app-aside-fixed':app.settings.asideFixed, 'app-aside-folded':app.settings.asideFolded, 'app-aside-dock':app.settings.asideDock, 'container':app.settings.container}")
        script(type='text/javascript',src="{{asset('js/main.js')}}")
        script(type='text/javascript',src="{{asset('js/backstage.js')}}")